<!doctype html>
<html>

	<head>
		<title>Amaze UI Admin index Examples</title>

	  	<meta charset="utf-8">
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	  	<meta name="description" content="这是一个 index 页面">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<meta name="renderer" content="webkit">
	  	<meta http-equiv="Cache-Control" content="no-siteapp" />
	  	<meta name="apple-mobile-web-app-title" content="Amaze UI" />

		<link rel="icon" type="image/png" href="/static/image/i/favicon.png">
	  	<link rel="apple-touch-icon-precomposed" href="/static/image/i/app-icon72x72@2x.png">
	  	<link rel="stylesheet" href="/static/js/amazeui/css/amazeui.min.css" />
	  	<link rel="stylesheet" href="/static/js/amazeui/css/admin.css">
	  	<link rel="stylesheet" href="/static/js/amazeui/css/app.css">
		<link rel="stylesheet" href="/static/js/validation/css/validationEngine.jquery.css"/>

		<script src="/static/js/jquery_1.11.1.min.js"></script>
  		<script src="/static/js/amazeui/js/amazeui.min.js"></script>
  		<script src="/static/js/amazeui/js/app.js"></script>
		<script src="/static/js/validation/js/jquery.validationEngine-zh_CN.js"></script>
    	<script src="/static/js/validation/js/jquery.validationEngine.min.js"></script>
		<script src="/static/js/layer/layer.js"></script>
		<script src="/static/js/custom.js"></script>
		<script src="/static/js/paging.js"></script>
	</head>

	{% block body %}{% endblock %}
</html>